*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (min-width:375px) and (max-width:1200px){


body{

}

    }

nav {
    background: #7a757a;
    display: flex;
    flex: auto;

}

a {
    color: #0000ff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
}

a:link {

}

a:hover {
    color: blue;
    cursor: pointer;
}

a:active {

}

.tabs1 {
    width: 20%;
    display: flex;
    list-style: none;
    font-size: .5em;
    margin-left: 1em;
    align-items: center;

    }

li {
    padding: 3px;
}


.logo {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding: .2em 0;
}

.tabs2 {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    font-size: .5em;
    gap: 1em;
    align-items: center;
    margin-right: 1em;

}
.btn-primary {
    display: flex;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    padding: .2em 0;
}

    footer {
    display: flex;
    justify-content: center;
        margin-top: 15%;
    padding: 0;
}

svg {
    width: 20px;
}

.social-media-links {
    display: flex;

}



/* screen sizes between 960px and 1200px */

}





