

@media screen and (min-width:540px) and (max-width:1200px) {
    /* ... */


    .container {
        border: 4px solid lightblue;
        height: 400px;
        width: 75%;
        margin: 25px 30px;

    }



}
