

@media screen and (min-width:375px) and (max-width:1200px) {
    /* ... */


    .container {
        border-bottom: 4px solid #367037; margin: -40px;
        height: 400px;
        width: 75%;
        margin: 25px 30px;

    }



}
