/*Center the main heading*/
/*Add a style to change the background color of the page.*/
/*Add a style to change the font for the entire page. Use google fonts if you would like.*/
body {
    background: #4969d9;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
    font-family: "American Typewriter";
}


table {
    margin-left: auto;
    margin-right: auto;
}

/*Add a style to change the list-style to something other than the default bullet.*/
ul, ol {
    display: inline-block;
    list-style: square;
}

/*Add a style to change the color of the headers on your page and make them underlined.*/
h1, h2 {
    color: #969191;
    text-decoration: underline;
}

/*Add a style to change the table, table cells td and rows tr padding and font sizes.*/
table, td, tr {
    color: #d37202;
    font-size: 20px;
    padding: 20px;
}

/*Add a style to alter the anchor tags and its different states. (e.g. link, visited, hover and active).*/
a:link {
    color: #c0022e;
}

a:visited {
    color: aqua;
}

a:hover {
    font-size: 18px;
}

a:active {
    color: #595959;
}

/*Add a style to add a background image to your background. Search how to manipulate the position, sizing of this background image.*/
.image {

}
