map{
    width: ;
    height: ;
}
.forecast-icon {

}

li {
    list-style: none;
    display: flex;
justify-content: center
}
h1{
    display: flex;
    justify-content: center;
    font-weight: bolder ;
    font-family: Damascus, serif;
}
h2{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-family: Damascus, serif;
}

forecast-day{
display: flex;
    justify-content: center;
}